  <footer>
  {{ partial "foot_custom.html" . }}
  <div class="footer">
  {{ with .Site.Params.footer }}
  <ul class="copyright">
    <li>{{ . | markdownify }}</li>
  </ul>
  {{ end }}
  <ul>
    {{ range .Site.Menus.footer }}
    <li{{ with .Pre }} class="{{ . }}"{{ end }}{{ with .Identifier }} id="{{ . }}"{{ end }}>
      <a href="{{ if (findRE "^#" .URL ) }}{{ .URL }}{{ else }}{{ .URL | relURL }}{{ end }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
  </div>
  {{ if not ($.Scratch.Get "has_appendix") }}
  <div class="footer hidden">
  {{ partial "correction.html" . }}
  </div>
  {{ end }}
  </footer>
  <script async src="{{ relURL "/js/features.js" }}" data-page-features="{{ (slice .Params.features .Site.Params.pageFeatures (index .Params "toc-title")) | jsonify}}"></script>
  </body>
</html>
